html {
    background: #010107d2; 
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-image: url(matrix.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }
  
  /* para as menores telas */
@media (max-width: 28.75em) {
    body {
      justify-content: center;
      text-align: center;
      margin: 0 0rem;
    }

    #first, #second, #third, #forth {
      word-break: break-all; /* para as senhas, quando geradas, não saírem da tela do celular */
    }
    
  }

body {
    text-align: center;
    color: #8bffb6;
    font-family: 'Inter';
    border: white 3px solid;
    border-radius: 10px;
    box-sizing: border-box;
    word-wrap: break-word;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    background-color: rgba(54, 51, 51, 0.637);
  }

h1 {
    text-align: start;
    color: white;
    margin-top: 35px;
    font-size: 2em;
}

span {
    text-align: start;
    color: #8bffb6;
}

#never {
    text-align: start;
    color: rgb(187, 185, 185);
    font-size: 1.5em;
}

h1, p { /* não precisa colocar o span na margin left pq ele já tá dentro do h1... se colocasse, ficaria com margin em dobro */
    margin-left: 20px;
}

#lightningBolt {
    font-size: 1.2em;
    margin-right: 10px;
}

#generateBtn {
    margin: 25px;
    background-color: #24ac56;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 5px 10px;
    font-size: 1.8em;
}

#generateBtn:hover {
    background-color: rgb(2, 3, 2);
    color: #24ac56;
}

hr {
    color: gray;
    margin-bottom: 25px;
}


#firstLine {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

#secondLine {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

#first, #second, #third, #forth {
    background-color:  #2a323d;
    border: none;
    color: #8bffb6;
    border: none;
    border-radius: 2px;
    padding: 2px 10px;
    font-size: 12px;
    height: 40px;
    width: 140px;
    display: flex; /* a partir daqui é para centralizar horizontal e verticalmente os <p> das senhas */
    margin: auto;
    border-radius: 10px;
    align-items:center;
    justify-content:center;
}

#firstBtn, #secondBtn, #thirdBtn, #forthBtn {
  display: flex;
  align-items: center;
  height: 18px;
  text-align: center;
  margin: auto 5px;
  background-color: #24ac56;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 5px 10px;
} 

#firstBtn:hover, #secondBtn:hover, #thirdBtn:hover, #forthBtn:hover {
  background-color: rgb(2, 3, 2);
  color: #24ac56;
  opacity: 0.5;
  transform: scale(1.3);
}


#first:hover, #second:hover, #third:hover, #forth:hover, button:hover {
    background-color: rgb(61, 88, 57);
    transform: scale(1.1);
    opacity: 0.4;
    color: black;
    font-weight: bold;
}

